body {
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/7v6dfCM/background-img-Endless-Nightmare-project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
  }
  
  h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
  }
  
  h3 span {
    color: #FFC700;
  }
  
  h1 {
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
  }
  
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: #ffffff;
    opacity: .7;
  }
  
  a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    opacity: .6;
  }
  
  a:hover,
  .btn {
    text-decoration: none;
    background-color: #FFC700;
    color: #040101;
    opacity: 1;
  }